extends ../layout.pug
block content
  h1 Aanmelden:
  ul
    li: a(href="/auth/google/login") Registreer of meld je aan met een Google account
    li: a(href="/auth/facebook/login") Registreer of meld je aan met een Facebook account
    if env.isDev
      li: a(href="/auth/dev/login") Of skip de moeite en wordt direct admin.
