nav.navbar.is-light(role="navigation", aria-label="main navigation")
  .navbar-brand
  //a(class="navbar-item") Kaabee
  a.navbar-burger.burger(role="button", aria-label="menu", aria-expanded="false", data-target="mainNavBar")
    span(aria-hidden="true")
    span(aria-hidden="true")
    span(aria-hidden="true")
  .navbar-menu(id="mainNavBar")
    .navbar-start
      a.navbar-item(href="/") Home
      a.navbar-item(href="/winkels") Winkels
      a.navbar-item(href="/tags") Tags
      if currentUser && currentUser.admin
        a.navbar-item(href="/users") Gebruikers
    .navbar-end
      .navbar-item
        .buttons
          a.button.is-primary
            strong Registreren
          a.button.is-light Aanmelden

each message, type in flash
  section.section
    div(class=`notification is-${ type }`) <strong>#{type}:</strong> #{ message }
