each message, type in flash
  span
    em #{ type }
    | : #{ message}
    
nav(class="navbar is-light" role="navigation" aria-label="main navigation")
  .navbar-brand
  //a(class="navbar-item") Kaabee
  a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavBar")
    span(aria-hidden="true")
    span(aria-hidden="true")
    span(aria-hidden="true")
  .navbar-menu#mainNavBar
    .navbar-start
      a.navbar-item(href="/") Home
      a.navbar-item(href="/winkels") Winkels
      a.navbar-item(href="/tags") Tags
    .navbar-end
      .navbar-item
        .buttons
          a(class="button is-primary")
            strong Registreren
          a(class="button is-light") Aanmelden
