h1 Bevestig je email bij Kaabee

p Klik <a href="#{ url }">hier</a> om je email te bevestigen.
p Of kopieer de volgende link in je browser:
p <a href="#{ url }">#{ url }</a>

small Niet aangemeld op Kaabee? Dan mag je deze mail gerust negeren.
