h1 Bevestig je email bij Kaabee

p
  | Klik
  a(href=url)
  | hier om je email te bevestigen.
p
  | Of kopieer de volgende link in je browser:
  a(href=url) #{ url }

small Niet aangemeld op Kaabee? Dan mag je deze mail gerust negeren.
