extends ../layout.pug
block content
  h1 Dit zijn alle tags.
  ul
    li
      a(href="/") Home
  ul
    each val, index in tags
      if val.isCategory
        li
          a(href="/tags/" + val.id) #{val.name}
      else
        li
          b
            a(href="/tags/" + val.id) #{val.name}
