doctype html
html(lang="nl")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    //meta(name="description", content="")
    //meta(name="theme-color" content="#4DA5F4")
    link(rel="stylesheet", href="/css/style.css")

    // Cash
    // script(src="https://cdnjs.cloudflare.com/ajax/libs/cash/7.0.1/cash.min.js")

    // JQuery
    script(src="https://code.jquery.com/jquery-3.5.0.slim.min.js")

  body
    include partials/header.pug
    main
      block content
    include partials/footer.pug
