extends ../layout.pug
block content
  section.section: .columns.is-centered: .column.is-two-thirds-desktop
    h1.title Gebruikers
    table.table
      thead: tr
        th Gebruikersnaam
        th Email
        th Email bevestigd?
        th Admin?
      tbody
        each user in users
          tr
            td: a(href=`/users/${ user.id }`) #{user.name}
            td #{ user.email }
            td.has-text-centered
              if user.emailConfirmed
                span.icon.has-text-success: i.fas.fa-check
              else
                span.icon.has-text-danger: i.fas.fa-cross
            td.has-text-centered
              if user.admin
                span.icon.has-text-danger: i.fas.fa-shield-alt
