extends ../layout
block content
  section(class="hero is-primary is-fullheight is-bold")
    div(class="hero-body")
      div(class="container")
        h1(class="title") KaaBee
        h2 Welkom, wij hebben #{ storeCount } winkels die staat te popelen om je te ontvangen!
